<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/x-icon">
    <title>Apple</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://comp2007-assignment2-part1.azurewebsites.net/" title="Apple Site">
                    <img src="~/Content/Images/Apple.png" alt="Apple Home Page" style="margin-bottom">
                  <!-- @Html.ActionLink("Apple", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->  
                </a>
                   

</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Apple","Index","APPLEs1")</li>
                   @if (User.Identity.IsAuthenticated)
                   {
                    <li>@Html.ActionLink("Apple Store Location", "Index", "APPLEs")</li>
                    <li>@Html.ActionLink("iPhones", "Index", "IPHONEs")</li>
                   }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Prit Chikawala -- 200342193</p>
            <script type='text/javascript' data-cfasync='false'>
                window.purechatApi =
                { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () {
                var done = false; var
                script = document.createElement('script'); script.async = true;
                script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';
                document.getElementsByTagName('HEAD').item(0).appendChild(script);
                script.onreadystatechange = script.onload = function (e) {
                if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete'))
                { var w = new PCWidget({ c: 'a36dd0ec-5f69-4655-a7ed-dd0789df4065', f: true }); done = true; }
                };
                })();</script>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
