@model IEnumerable<Assignment2_Part1.Models.APPLE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Apple</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            LOCATION CODE
        </th>
        <th>
            ADDRESS
        </th>
        <th>
            CITY
        </th>
        <th>
            PROVINCE
        </th>
        <th>
            COUNTRY
        </th>
       
        <th>
           PRODUCTS
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.LOCATION_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROVINCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COUNTRY)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCT_ID })
        </td>
    </tr>
}

</table>
